body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/

    background: url('../Images/5.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover; 
}
.Login{
        background: url('../Images/5.jpg') no-repeat center center fixed; 

}
.Background_Image{
    
}
.img1 {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
td{
    text-align:left;
}
.form{

}

.form-box{
    position:absolute center;  
    right:36%;    
    margin-top:8%;
    margin-left:8%;
    margin-bottom:22%;
    background-color:black;
    opacity:.7;   
    border-radius:10px;
}
.Index{
    margin-top:7%;
    background-size:cover;
    background-color:white;
    border-radius:10px; 
    min-height:480px;  
}
.table{
    width:90%;
    /*margin-left:5%;
    margin-right:5%;*/
}
.tab-content{
    margin-left:5%;
}
.text-centre{
}
.contaner-right{
    margin-right:90%;
}
.EmpImg{
    max-height:150px;
    max-width:200px;
}



